.label {
  font-size: 10px;
  border-radius: 3px;
  padding: 1px 4px;
  font-weight: 500;

  &--yellow {
    background: $ripe-lemon;
    color: $alizarin-crimson;
  }

  &--red {
    background: $alizarin-crimson;
    color: #fff;
  }

  &--brown {
    background: $luxor-gold;
    color: #fff;
  }
}
