// Topbar wrapper
.footer-wrap {
  width: 100%;
  background: $footer-bg-color;
  color: #fff;
  font-weight: 300;
  text-align: center;

  @media (min-width: $media-min-1200) {
    text-align: left;
  }

  // Topbar top border
  .footer__border {
    width: 100%;
    height: 10px;
    background-color: $footer-top-border-color;
  }
  .container {
    padding-top: 15px;
    padding-bottom: 40px;
  }

  // Logo
  .footer__logo {
    display: block;
    float: left;
    height: 50px;
    width: 100%;
    background-size: auto 100%;

    @media (min-width: $media-min-1200) {
      width: 200px;
      height: 52px;
    }
  }

  .footer__nav {
    display: block;

    @media (min-width: $media-min-1200) {
      float: left;
      margin-left: 90px;
    }

    ul {
      display: inline-block;
      min-width: 160px;
      margin: 25px 0 0 0;

      @media (min-width: $media-min-1200) {
        margin-right: 30px;
      }
    }

    li {
      display: block;
    }

    a {
      display: block;
      padding: 5px 5px 5px 0;
      color: inherit;
    }
  }

  .footer__copyright {
    margin-top: 25px;

    @media (min-width: $media-min-1200) {
      float: right;
      margin-right: 160px;
    }

    a {
      display: block;
      padding: 5px 5px 10px 0;
      color: inherit;
    }
  }
}
