.home-keyvisual {
  background-color: $home-keyvisual-bg-color;
  background-position:50% 150px,0 0;
  background-repeat:no-repeat,no-repeat;
  min-height:843px;
  padding-bottom:50px;

  .home-keyvisual-container {
    margin-bottom: 100px;

    .home-keyvisual-disturber {
      position: absolute;
      left: 50%;
      top: 72px;
      color: $base-white;
      font-size: 45px;
      font-weight: bold;
      background-color: $luxor-gold;
      height: 150px;
      line-height: 148px;
      border-radius: 90px;
      width: 150px;
      text-align: center;

      /** rotate the disturber */
      -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  }

  .container {
    .euromillions-keyvisual-logo,
    .euromillions-keyvisual-mio,
    .euromillions-keyvisual-mio-desc,
    .euromillions-keyvisual-deadline,
    .euromillions-keyvisual-play-container {
      text-align:right;
      color:$base-white;
    }

    .euromillions-keyvisual-logo {
      margin-top:-10px;
      right:-17px;
    }

    .euromillions-keyvisual-mio {
      font-size: 100px;
      height: 70px;
      font-weight: bold;
      margin-top: 90px;
    }

    .euromillions-keyvisual-mio-desc {
      font-size: 45px;
      margin-bottom: 41px;

      p {
        line-height: 53px;
      }
    }

    .euromillions-keyvisual-deadline b {
      font-size:29px;
      font-weight:bold;
    }

    .euromillions-keyvisual-play-container {
      .button--red {
        width: 270px;
        height: 45px;
      }
    }
  }

  .home-content {
    margin-bottom:30px;

      h1 {
        margin-bottom:0px;
        text-align:center;
      }

      h2 {
        font-weight: bold;
        text-align: center;
      }
  }

  .home-euromillions-container {
    line-height: 100%;
    color:$base-white;

    .home-euromillions-content {
      text-align: center;
      line-height: 100%;
      padding: 20px 0px;

      h2 {
        color: red;
        font-size: 39px;
        line-height: 100%;
      }
      h3 {
        font-weight: bold;
        font-size: 65px;
        line-height: 100%;
      }
    }
    .home-euromillions-timeandplay {
      padding: 10px 0px;

      .home-euromillions-time {
        text-align: center;
        line-height: 32px;
        font-size: 14px;
      }
    }

  }
}
