// SEO variables
$seo-bg-color: #fff;

// ARTICLE variables
$article-bg-color: #F1F1F1;

// ARTICLE benefits variables
$article-benefits-bg-color: #3D3D3D;
// ARTICLE euromillions variables
$article-euromillions-bg-color: #1465AB;
