<section class="footer-wrap">
  <div class="footer__border"></div>
  <div class="container">
    <div class="footer__logo"></div>
    <div class="footer__nav">
      <nav class="footer__navigation">
        <ul>
          <li>
            <a [routerLink]="['/']">Test</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="footer__copyright">
      <a [routerLink]="['/']">Test</a>
    </div>
  </div>
</section>
